body {
    font-family: 'Arial', sans-serif;
    text-align: center;
    margin-top: 100px;
    background: #e7e7e7;
}

.loader {
    width: 24px;
    height: 24px;
    border: 5px solid #FFF;
    border-bottom-color: #4CAF50;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

#analyzing {
    margin-top: 42px;
    gap: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#content-container {
    padding: 40px 50px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #fafaf9;
    display: inline-block;
    text-align: left;
    width: 720px;
}

h1 {
    color: #333;
    text-align: center;
    margin: 0;
    padding-bottom: 35px;
}

#prompt-form {
    display: flex;
    flex-direction: column;
}

.button-field {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: end;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #555;
}

input[type="text"] {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#user-selection-field {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#form-submit-button {
    background-color: #16a34a;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100px;
}

#form-submit-button:hover {
    background-color: #205411;
}

#form-submit-button:disabled {
    background-color: #c7c7c5;
    cursor: not-allowed;
}

#results {
    margin-top: 42px;
}

#persona-select {
    flex-grow: 1;
    margin-right: 15px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    margin-bottom: 40px;
}

table, th, td {
    border: 1px solid #d4d4d4;
}

th, td {
    padding: 10px;
    text-align: left;
}

.semantics-error,
.persona-error,
.description {
    font-weight: bold;
    font-size: 14px;
    padding-bottom: 6px;
}

.ci-count {
    font-size: 10px;
    width: 32px;
}

.semantics-error {
    font-size: 12px;
    width: 100px;
}

.persona-error {
    width: 200px;
}

.suggestion {
    color: #262626;
    font-size: 13px;
}

.ai-mark {
    font-weight: 400;
    font-size: 13px;
    color: #525252;
}

.persona-error-tb {
    background-color: #fee2e2;
}

.semantics-error-tb {
    background-color: #ffedd5;
}

#was {
    display: flex;
    justify-content: center;
    font-weight: bold;
    flex-direction: column;
}

#was .score {
    font-size: xxx-large;
    font-weight: bold;
    margin-bottom: 0;
    margin-top: 20px;
    text-align: center;
}

#was .text {
    font-size: 22px;
    font-weight: 600;
    text-align: center;
}

