body {
    padding: 0px 80px;
    font-family: 'Arial', sans-serif;
    text-align: center;
    margin-top: 150px;
    background: #e7e7e7;
}

#content-container {
    padding: 40px 50px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f8f8f8;
    display: inline-block;
    text-align: left;
    width: 980px;
}

h1, h2 {
    color: #333;
    text-align: center;
    margin: 0;
    padding-bottom: 20px;
}

#prompt-form {
    display: flex;
    flex-direction: column;
}

.button-field {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: end;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #555;
}

input[type="text"] {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#user-selection-field {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100px;
}

button:hover {
    background-color: #45a049;
}

#result {
    margin-top: 20px;
}

#persona-select {
    flex-grow: 1;
    margin-right: 15px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: left;
}
