/* styles.css */

body {
    padding: 0px 80px;
    font-family: 'Arial', sans-serif;
    text-align: center;
    margin-top: 150px;
}

#content-container {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f8f8f8;
    display: inline-block;
    text-align: left;
}

h1 {
    color: #333;
    text-align: center;
}

form {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #555;
}

input[type="text"],
select {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: calc(100% - 10px);
    margin-right: 10px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    flex: 0 0 auto;
}

button:hover {
    background-color: #45a049;
}

#result {
    margin-top: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: left;
}
