<!-- index.html -->

<!DOCTYPE html>
<html lang="sk">
<head>
    <title>Karol - Usability Evaluator</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='styles.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='mobile.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
</head>
<body>
    <div id="content-container">
        <h1>{{ heading }}</h1>

        <form id="prompt-form">
            <label for="url-field">Enter something:</label>
            <input type="text" id="url-field" name="url-field" required>
            <label for="user-selection-field">Select an option:</label>

            <select id="user-selection-field" name="user-selection-field">
                <option value="option1">Option 1</option>
                <option value="option2">Option 2</option>
                <option value="option3">Option 3</option>
            </select>

            <button type="button" onclick="submitForm()">Submit</button>
        </form>

        <div id="result">
            <table>

            </table>
        </div>

        <script src="{{ url_for('static', path='evaluate.js') }}"></script>
    </div>
</body>
</html>
