<!DOCTYPE html>
<html lang="sk">
<head>
    <title>Karol - Usability Evaluator</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='styles.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='mobile.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
</head>
<body>

    <div id="content-container">
        <h1>{{ heading }}</h1>

        <div id="prompt-form">
            <input type="text" id="url-field" name="url-field" required placeholder="Enter the website address">
            <div class="button-field">
                <div id="persona-select">
                    <label for="user-selection-field">Select user persona:</label>
                    <select id="user-selection-field" name="user-selection-field">
                        <option value="option1">User 1</option>
                        <option value="option2">User 2</option>
                        <option value="option3">User 3</option>
                        <option value="option3">User 4</option>
                        <option value="option3">User 5</option>
                    </select>
                </div>
                <button type="button" onclick="submitForm()">Analyze</button>
            </div>
        </div>

        <div id="analyzing" style="display: none">
            <p>Analyzing...</p>
            <div class="loader"></div>
        </div>

        <div id="results" style="display: none">
            <div id="code-improvements">
                <h2>Code improvements</h2>
                <table>

                </table>
            </div>
        </div>

        <script src="{{ url_for('static', path='evaluate.js') }}"></script>
    </div>
</body>
</html>
